.page-wrapper {
    min-height:100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-wrapper.all-centered {
    align-items: center;
    justify-content: center;
}
.flex-parent {
    width: 80vw;
    height: 80vh;
    background-color: #cbcbcb;
    gap: 20px;
    border: 10px solid #a4a4a4;
    /* flex properties */
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
}
.box {
  /*  width: 200px; */
    flex: 1 0 0;
    aspect-ratio: 3/2;
    background-color: #76af4c;
    padding: 20px;
    border: 5px solid #2f521c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: 800;
}
/*.box:nth-child(3) {
    align-self: end;
} */

.box:first-child{

    flex: 1 0 0;
}
