fieldset {
    border-radius: 7px;
    margin-bottom: 15px;
}

input[type="password"] {
    margin-left: 3px;
}

input[type="radio"] { margin-left: 10px;}


input[type="submit"] {margin-bottom: 20px;}

fieldset:first-of-type div.input-wrapper {
    position: relative;
    right: 3.5%;
}

fieldset:first-of-type div.input-wrapper:first-of-type {
    margin-bottom: 20px;
}

fieldset:last-of-type div.input-wrapper {
    margin-bottom: 20px;
}

fieldset:last-of-type div.input-wrapper:last-of-type {
    margin-bottom: 5px;
}