.box {
    width: 100%;
    height: 200px;
    background-color: lightgrey;
    border: 1px solid black;
}
@media screen and (max-width: 992px) {
    .box {
        background-color: lawngreen;
    }
    .feature .row {
        flex-wrap: wrap;
    }
    .features .row .column {
        flex-basis: calc(50% - 10px);
    }
}

@media screen and (max-width: 768px) {
    .box {
        background-color: lightcoral;
    }
    .features .row {
    flex-direction: column;
    flex-wrap: unset;
    }
    .features .row .column {
        flex-basis: unset;
    }
}



