/*
  1. Use a more-intuitive box-sizing model.
*/

*, *::before, *::after {
    box-sizing: border-box;
}
/*2. Remove default margin */
* {
    margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}
/*Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 9. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}



:link,:visited { text-decoration:none }
/* remove the inconsistent (among browsers) default ul,ol padding or margin  */
/* the default spacing on headings does not match nor align with
   normal interline spacing at all, so let's get rid of it. */
/* zero out the spacing around pre, form, body, html, p, blockquote as well */
/* form elements are oddly inconsistent, and not quite CSS emulatable. */
/*  nonetheless strip their margin and padding as well */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin:0; padding:0 }
a img,:link img,:visited img { border:none }
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
/*Add the correct font size in all browsers. */
small {
    font-size: 80%;
}
/*Change the font styles in all browsers, and remove
the margin in Firefox and Safari */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */

}
summary {
    display: list-item;
}

/* Prevent sub and sup elements from affecting the line height in all browsers. */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


table {
    border-collapse: collapse;
}
/*revert white space 4 safari */
textarea {
    white-space: revert;
}
::placeholder {
    color: unset;
    font: inherit;
}
a, a:visited {
    text-decoration:none;
    color: unset;
}
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
}

input {
    outline: unset;
}